/**************************************************** 
                    Global Styles
 *****************************************************/

html {
    box-sizing: border-box;
    font-family: "Helvetica Neue";
}

body {
    line-height: 1.5em;
    display:block;
    overflow-x: hidden;
    background-color: #0D0D0D;
}

.home-body {
    overflow: hidden;
}

::selection {
    background-color: var(--purple);
}

:root {
    --purple:#8e7bff;
    --vacchio-purple: #7C55DF;
    --vacchio-green: linear-gradient(0deg, #59D499 0%, #59D499 100%);
    --vacchio-red: #E64149;
    --vacchio-border: border: 1px solid rgba(255, 255, 255, 0.066);
}

::-webkit-scrollbar {
    display: none; 
}

::-webkit-scrollbar {
    width: 10px; 
    background-color: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background-color: #888; 
}


/* ----------------- NAV ------------------- */

.desktop {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-container {
    border-radius: 20px;
    border: 0.9px solid rgba(255, 255, 255, 0.08);
    background: rgba(41, 41, 41, 0.80);
    backdrop-filter: blur(5.150000095367432px);
    padding: .6em;
    margin-bottom: 1em;
}

.desktop ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: .7em;
}

.desktop ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 1;
}

.desktop ul > * {
    flex-basis: 1;
    min-width: 3rem;
    height: 3rem;
    justify-content: center;
    display: flex;
    border-radius: 11px;
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.desktop ul li:not(.active):hover,
.desktop ul li:not(.active):focus{
    background-color: #3c3c3c97;
    cursor: pointer;
    transition: all 100ms ease-in;
}

.active-home {
    background-color: var(--vacchio-red);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.active-home:hover,
.active-home:focus{
    background-color: #da353d;
    cursor: pointer;
    transition: all 100ms ease-in;
}

.active-projects {
    background-color: var(--vacchio-purple);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.active-projects:hover,
.active-projects:focus{
    background-color: #6e3fe5;
    cursor: pointer;
    transition: all 100ms ease-in;
}

.active-home-tool {
    position: relative;
}

.nav-doc-button {
    font-size: 0;
    width:100%;
}

.nav-doc-button img{
    width: 1.8rem;
}

.nav-doc-button[data-tool-tip] {
    position: relative;
}

.nav-doc-button[data-tool-tip]::before {
    content: attr(data-tool-tip);
    position: absolute;
    background-color: #181818;
    border: 1px solid rgba(255, 255, 255, 0.066);
    border-radius: .35rem;
    color: white;
    padding: 0.3125rem 0.625rem;
    bottom: 65px; 
    white-space: nowrap;
    font-size: .9rem; 
    line-height: 1;
    opacity: 0;
    transition: opacity 150ms ease;
}

.nav-doc-button[data-tool-tip]:hover::before {
    opacity: 1;
}

.nav-container .active::after {
    content: '';
    width: 1rem;
    height: 3px;
    border-radius: 100px;
    background-color: #4A4A4A;
    display: block;
    position: absolute;
    bottom: 3px;
}

.linkedin img{
    width: 1.3rem;
}

#nav-border {
    flex-basis: 0;
    min-width: 3px;
    height: 2rem;
    background-color: #4A4A4A;
    justify-content: center;
    display: flex;
    border-radius: none;
    border: none;
    backdrop-filter: none;
    margin: 0 .6em;
}



/* -------------------- HEADER -------------------- */

.carmen-vacchio {
    width: 100%;
}

.carmen-vacchio p {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    position: fixed;
    top: 3rem;
    left: 3rem;
}


/* ------------------ SECTION ------------------- */

.home-section {
    padding: 3em 1em;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.home-hero {
    position: absolute;
    top: 30%;
    padding: 1.5em;
}

.home-section h2 span:first-child {
    color: transparent;
    background: var(--vacchio-green);
    background-clip: text;
}

.home-section h2 span:last-child {
    background: var(--vacchio-purple);
    border-radius: 5px;
    padding: 0 .5rem .2rem .5rem;
}

.home-section h2 {
    color: #FFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.home-section h3 {
    color: #D7D7D7;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ss-container {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    position: absolute;
}

.no-break {
    white-space: nowrap;
}

/* ------------------ PROJECTS ------------------- */

.project-container {
    margin-top: 2rem;
}

.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
}

.project-cards {
    width: calc(50% - 2rem);
    max-width: 35rem; 
    background-color: #131313;
    border-radius: 2rem;
    border: 1px solid #262626;
    overflow: hidden;
    text-decoration: none;
    transition: transform 150ms ease;
}

.project-cards:hover,
.project-cards:focus {
    transform: scale(1.005);
    cursor: pointer;
    background-color: #191919;
    border: 1px solid #3b3b3b;
}

.project-cards:hover .tags p,
.project-cards:focus .tags p {
    background-color: #2e2e2e;
    color: var(--purple);
}

.project-cards:hover h1,
.project-cards:focus h1 {
    color: #ffffff;
}


.project-card {
    padding: 2rem;
}

.p-img img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.p-heading h1{
    color: #CCC;
}

.p-heading p{
    color: #8F8F8F;
}


.p-heading {
    margin-top: 1rem;
    text-align: left;
}

.tags {
    margin-top: 1rem;
    text-align: left;
}

.tags p {
    display: inline-block;
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: .25rem .5rem;
    background-color: #1E1E1E;
    border-radius: .5rem;
    font-size: .8rem;
    color: #8F8F8F;
}

.copyright {
    padding: 2em 0 8em 0;
    color: #8F8F8F;
    font-size: .9rem;
    text-align: center;
}

/**************************************************** 
                    Desktop Styles
 *****************************************************/


 @media screen and (min-width: 641px) {

    /* ----------------- NAV ------------------- */

    #nav{
        display: none;
    }

    .shape {
        position: fixed;
        bottom: 0px;
        right: -600px;
        overflow: hidden;
        z-index: -1; 
    }
    
    .shape img {
        max-width: 1700px;
    }

     /* ----------------- HOME ------------------- */

    .home-section h2 {
        color: #FFF;
        font-size: 4rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .home-section h3 {
        padding-top: .3em;
        color: #D7D7D7;
        font-size: 3rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        max-width: 900px
    }

    .home-section h2 span:last-child {
        border-radius: 10px;
        padding: 0 1rem .2rem 1rem;
    }
} 

@media screen and (min-width: 641px) and (max-width: 1400px) {

    .home-section h2 {
        color: #FFF;
        font-size: 4rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .home-section h3 {
        color: #D7D7D7;
        font-size: 3rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .home-section h2 span:last-child {
        border-radius: 10px;
        padding: 0 1rem .2rem 1rem;
    }

    .shape img {
        max-width: 1300px;
    }

    .desktop {
        padding: 0 1em;
    }

}


 /**************************************************** 
                    Mobile Styles
 *****************************************************/

 @media screen and (max-width: 640px) {
    

    /* ----------------- NAV ------------------- */
    
    .desktop {
        display: none;
    }

    .carmen-vacchio{
        display: none;
    }

    .navbar-nav a {
        color: #FFF;
        font-family: "Helvetica Neue";
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .navbar-nav a img {
        width: 18.585px;
        height: 20.383px;
        flex-shrink: 0;
        margin: 0 .4em;
    }

    .nav-link {
        align-items: center;
        display: flex;
    }

    .navbar-toggler-icon {
        background-image: url("/images/svg/nav.svg");
        width: 35px;
        height: 16px;
        padding: .8em 0; 
    }
    
    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: none;
        box-shadow: none;
    }
    
    .navbar-toggler {
        border: none;
    }
    
    .nav-title {
        color: #FFF;
        font-family: "Helvetica Neue";
        font-size: 21.024px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 1.5em .5em;
    }
    

    /* ----------------- HOME ------------------- */

    .shape img {
        width: 100%; 
        overflow: hidden;
    }

    .shape {
        overflow-y: hidden;
        z-index: -1;
        position: fixed;
        bottom: 0px
    }  

    .home-hero {
        padding: 1em;
        position: absolute;
        top: 10%;
        margin-top: 0;
    }

    .home-section h2 {
        padding: .4em 0;
    }

    .home-section h3 {
        text-shadow: 0px .5px 10px #000000;
    }

 }

 @media screen and (min-height: 700px) and (max-width: 640px) {
    
    .home-hero {
        padding: 1em;
        position: absolute;
        top: 15%;
        margin-top: 0;
    }

 }

 @media screen and (min-height: 900px) and (max-width: 640px) {
    
    .home-hero {
        padding: 1em;
        position: absolute;
        top: 17%;
        margin-top: 0;
    }

    .home-hero h3 {
        font-size: 2.5em;
    }

    .home-hero h2 {
        font-size: 4em;
    }
 }

 @media screen and (max-height: 900px) {
    .home-hero h2 {
        font-size: 3rem;
    }

    .home-hero h3 {
        font-size: 2rem;
    }
 } 

 @media screen and (max-width: 500px) {
    .home-hero h2 {
        font-size: 3rem;
    }

    .home-hero h3 {
        font-size: 2rem;
    }
 } 
