/**************************************************** 
                    Global Styles
 *****************************************************/

html {
    box-sizing: border-box;
    font-family: "Helvetica Neue";
}

body {
    line-height: 1.5em;
    display:block;
    overflow-x: hidden;
    background-color: #0D0D0D;
}

.home-body {
    overflow: hidden;
}

::selection {
    background-color: var(--purple);
    color: white;
}

:root {
    --purple:#8e7bff;
    --vacchio-purple: #7C55DF;
    --vacchio-green: linear-gradient(0deg, #59D499 0%, #59D499 100%);
    --vacchio-red: #E64149;
    --vacchio-orange: #F35C12;
}

::-webkit-scrollbar {
    display: none; 
}

::-webkit-scrollbar {
    width: 10px; 
    background-color: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background-color: #888; 
}

.back-button {
    display:none;
}

/* ------------------ SKIP LINKS ------------------ */

  .skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .skip-links a{
    position: absolute;
    top: -1000em;
    background-color: black;
    color:white;
    padding: .5em 1em;
    font-weight: bold;
  }
  
  .skip-links a:focus{
    top: 0;
  }

/* -------------- TYPOGRAPHY --------------- */

.p-heading h1{
    color: #CCC;
    font-size: 1.5rem;
    font-weight: 600;
}

.a-heading h1{
    color: #dcdcdc;
}

.education h1 {
    padding-bottom: 1rem;
}

.a-heading h2 {
    color: #dcdcdc;
    font-size: 1.25rem;
    font-weight: 600;
}

.education h3 {
    color: #dcdcdc;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.education h3 span{
    color: #8F8F8F;
    font-size: 1rem;
    font-weight: 600;
}

.p-heading p{
    color: #8F8F8F;
}

.p-heading {
    margin-top: 1rem;
    text-align: left;
}

.tags {
    margin-top: 1rem;
    text-align: left;
}

.tags p {
    display: inline-block;
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: .25rem .5rem;
    background-color: #1E1E1E;
    border-radius: .5rem;
    font-size: .8rem;
    color: #8F8F8F;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.066);
}

.tags a {
    display: inline-block;
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: .25rem .5rem;
    background-color: #1E1E1E;
    border-radius: .5rem;
    font-size: .8rem;
    color: #8F8F8F;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.066);
    text-decoration: none;
}

/* ----------------- NAV ------------------- */

.desktop {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.nav-container {
    border-radius: 20px;
    border: 0.9px solid rgba(255, 255, 255, 0.2);
    background: rgba(41, 41, 41, 0.80);
    backdrop-filter: blur(5.150000095367432px);
    padding: .6em;
    margin-bottom: 1em;
}

.desktop ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: .7em;
}

.desktop ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-basis: 1; */
}

.desktop ul > * {
    /* flex-basis: 1; */
    min-width: 3rem;
    height: 3rem;
    justify-content: center;
    display: flex;
    border-radius: 11px;
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.desktop ul li:not(.active):hover,
.desktop ul li:not(.active):focus{
    background-color: #3c3c3c97;
    cursor: pointer;
    transition: all 100ms ease-in;
}

.active-home {
    background-color: var(--vacchio-red);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.active-home:hover,
.active-home:focus{
    background-color: #da353d;
    cursor: pointer;
    transition: all 100ms ease-in;
}

.active-projects {
    background-color: var(--vacchio-purple);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.active-projects:hover,
.active-projects:focus{
    background-color: #6e3fe5;
    cursor: pointer;
    transition: all 100ms ease-in;
}

.active-about {
    background-color: var(--vacchio-orange);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.active-about:hover,
.active-about:focus{
    background-color: #ff5500;
    cursor: pointer;
    transition: all 100ms ease-in;
}


.active-home-tool {
    position: relative;
}

.nav-doc-button {
    font-size: 0;
    width:100%;
}

.nav-doc-button img{
    width: 1.8rem;
}

.nav-doc-button[data-tool-tip] {
    position: relative;
}

.nav-doc-button[data-tool-tip]::before {
    content: attr(data-tool-tip);
    position: absolute;
    background-color: #181818;
    border: 1px solid rgba(255, 255, 255, 0.066);
    border-radius: .35rem;
    color: white;
    padding: 0.3125rem 0.625rem;
    bottom: 65px; 
    white-space: nowrap;
    font-size: .9rem; 
    line-height: 1;
    opacity: 0;
    transition: opacity 150ms ease;
}

.nav-doc-button[data-tool-tip]:hover::before {
    opacity: 1;
}

.linkedin[data-tool-tip]::before,
.photos[data-tool-tip]::before,
.graphics[data-tool-tip]::before {
    content: "LinkedIn";
    background-image: url("../images/svg/right-arrow-link.svg");
    background-size: 1rem 1rem; 
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    background-color: #181818;
    border: 1px solid rgba(255, 255, 255, 0.066);
    border-radius: .35rem;
    color: white;
    padding: 0.3125rem 0.625rem;
    padding-right: 1.5em;
    bottom: 65px; 
    white-space: nowrap;
    font-size: .9rem; 
    line-height: 1;
    opacity: 0;
    transition: opacity 150ms ease;
}

.photos[data-tool-tip]::before {
    content: "Photos";
}

.graphics[data-tool-tip]::before {
    content: "Graphics";
}

.nav-container .active::after {
    content: '';
    width: 1rem;
    height: 3px;
    border-radius: 100px;
    background-color: #4A4A4A;
    display: block;
    position: absolute;
    bottom: 3px;
}

.linkedin img{
    width: 1.3rem;
}

#nav-border {
    flex-basis: 0;
    min-width: 3px;
    height: 2rem;
    background-color: #4A4A4A;
    justify-content: center;
    display: flex;
    border-radius: 0;
    border: none;
    backdrop-filter: none;
    margin: 0 .6em;
}

/* --------------------- BLUR --------------------- */

.blur-container {
    bottom: 0px;
    flex: 0 0 auto;
    height: 100px;
    left: 0px;
    position: fixed;
    right: 0px;
    z-index: 10;
}

.nav-bg-blur {
    display: block;
    flex: 0 0 auto;
    pointer-events: none;
    position: relative;
    border-radius: 0px;
    overflow: visible;
    height: 100%;
    width: 100%;
    transform: none;
}

.nav-bg-blur-1 {
    inset: 0px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(0px);
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 20%);
    z-index: 11;
    border-radius: 0px;
}

.nav-bg-blur-2 {
    position: absolute;
    inset: 0px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(0.246914px);
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 10%, rgb(0, 0, 0) 30%);
    z-index: 12;
    border-radius: 0px;
}

.nav-bg-blur-3 {
    position: absolute;
    inset: 0px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(0.987654px);
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 20%, rgb(0, 0, 0) 40%);
    z-index: 13;
    border-radius: 0px;
}

.nav-bg-blur-4 {
    position: absolute;
    inset: 0px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2.22222px);
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 30%, rgb(0, 0, 0) 50%);
    z-index: 14;
    border-radius: 0px;
}

.nav-bg-blur-5 {
    position: absolute;
    inset: 0px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(3.95062px);
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgb(0, 0, 0) 60%);
    z-index: 15;
    border-radius: 0px;
}

.nav-bg-blur-6 {
    position: absolute;
    inset: 0px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(12.0988px);
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 70%, rgb(0, 0, 0) 90%);
    z-index: 16;
    border-radius: 0px;
}

.nav-bg-blur-7 {
    position: absolute;
    inset: 0px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(8.88889px);
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 60%, rgb(0, 0, 0) 80%);
    z-index: 17;
    border-radius: 0px;
}

.nav-bg-blur-8 {
    position: absolute;
    inset: 0px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(15.8025px);
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 80%, rgb(0, 0, 0) 100%);
    z-index: 18;
    border-radius: 0px;
}

.nav-bg-blur-9 {
    position: fixed;
    bottom: 0;
    height: 6rem;
    width: 100%;
    backdrop-filter: blur(20px);
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 90%, rgb(0, 0, 0) 100%);
    z-index: 19;
    border-radius: 0px;
    display: flex;
    justify-content: center;
}

.nav-bg-blur-10 {
    position: absolute;
    inset: 0px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(20px);
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 90%, rgb(0, 0, 0) 100%);
    z-index: 20;
    border-radius: 0px;
} 


/* -------------------- HEADER -------------------- */

.carmen-vacchio {
    width: 100%;
    height: 8rem;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 500000;
}

.carmen-vacchio a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    padding: 3rem;
}

@media screen and (max-width: 1660px) {
    .carmen-page {
        display: none;
    }
}

/* ------------------ SECTION ------------------- */

.home-section {
    padding: 3em 1em;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.home-hero {
    position: absolute;
    top: 30%;
    padding: 1.5em;
}

.home-section h1 span:first-child {
    color: transparent;
    background: var(--vacchio-green);
    background-clip: text;
}

.home-section h1 span:last-child {
    background: var(--vacchio-purple);
    border-radius: 5px;
    padding: 0 .5rem .2rem .5rem;
}

.home-section h1 {
    color: #FFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.home-section h2 {
    color: #D7D7D7;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ss-container {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    position: absolute;
}

.no-break {
    white-space: nowrap;
}

/* ------------------ PROJECTS ------------------- */

.project-container {
    margin-top: 2rem;
    padding: 0 1em;
}

.projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
}

.project-cards {
    width: calc(50% - 2rem); 
    max-width: 35rem;
    background-color: #131313;
    border-radius: 2rem;
    border: 1px solid #262626;
    overflow: hidden;
    text-decoration: none;
    transition: transform 150ms ease;
}

.project-cards:hover,
.project-cards:focus {
    transform: scale(1.005);
    cursor: pointer;
    background-color: #191919;
    border: 1px solid #3b3b3b;
}

.project-cards:hover .tags p,
.project-cards:focus .tags p {
    background-color: #2e2e2e;
    color: var(--purple);
}

.project-cards:hover h1,
.project-cards:focus h1 {
    color: #ffffff;
}

.project-cards:hover .p-heading p,
.project-cards:focus .p-heading p {
    color: #dedede;
}

.project-card {
    padding: 1.5rem;
}

.p-img img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
} 


.p-img .carm-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
} 

.copyright {
    padding: 2rem 1rem 5rem 1rem;
    color: #8F8F8F;
    font-size: .9rem;
    text-align: center;
}

@media screen and (max-width: 870px) {
    .project-cards {
        width: calc(100% - 2rem);
    }
}

@media screen and (max-width: 470px) {
    .copyright {
        padding: 0 3rem;
    }

    .blur-container {
        display: none;
    }

} 


/* --------------- PROJECT PAGE ----------------- */


.projects-page-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}

.project-page-cards {
    width: calc(100% - 2rem); 
    background-color: #131313;
    border-radius: 2rem;
    border: 1px solid #262626;
    overflow: hidden;
    text-decoration: none;
    transition: transform 150ms ease;
}

.project-page-cards .tags p:hover,
.project-page-cards .tags p:focus {
    background-color: #2e2e2e;
    color: var(--purple);
}

.project-page-container {
    margin-top: 12rem;
    padding: 0 1em;
}

.back-nav img {
    width: 1.6rem;
}

.back-nav {
    margin: 0 auto;
    padding: .7rem;
    background-color: #131313;
    border-radius: .8rem;
    border: 1px solid #262626;
    transition: all 150ms ease;
}

.back-nav:hover ,
.back-nav:focus {
    background-color: #282828;
    border: 1px solid #3a3a3a;
    transform: scale(.95);
    cursor: pointer;
}

.close-button {
    width: 100%;
    display: flex;
    position: fixed;
    top: 4rem;
    z-index: 90000000;
}


.p-tag-1 img{
    width: 1rem;
    margin-bottom: .2rem;
}

.p-tag-2 img{
    width: 1rem;
    margin-bottom: .1rem;
}

.project-page-tag a {
    padding-left: 1rem;
}

.project-page-tag span {
    color: rgb(232, 232, 232);
    font-weight: 600;
    padding: 0 .5rem;
}

.pp-tags a {
    padding: .3rem .5rem .3rem 1rem;
    transition: all 150ms ease;
}

.pp-tags a:hover,
.pp-tags a:focus {
    background-color: var(--vacchio-purple);
    padding-right: 1.5rem;
}

.pp-tags a.expand {
    animation: expandButton 0.3s ease forwards;
}

@keyframes expandButton {
    0% {
        padding-right: 1rem;
    }
    100% {
        padding-right: 2rem;
    }
}

#fade-in-arrow {
    margin: .38rem .5rem 0 0;
    align-self: center;
    transform: scale(0);
    transition: all 200ms ease;
    position: absolute;
    opacity: 0;
}

.pp-tags a:hover #fade-in-arrow,
.pp-tags a:focus #fade-in-arrow {
    transition: all 300ms ease;
    transform: scale(1);
    opacity: 1;
}

#fade-in-arrow {
    width: .8rem;
    margin-top: .5rem;
}

#project-overview span {
    color: rgb(170, 170, 170);
    font-size: 1rem;
    font-weight: 600;
    padding-left: .5rem;
}

.pp-img {
    background-color: #131313;
    border-radius: 2rem;
    border: 1px solid #262626;
}

.pp-img .p-img {
    padding: 1rem;
}

.collage {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    gap: 2rem;
}

.project-h1 {
    padding-bottom: 1rem;
}

.pp-tags {
    padding-top: 1rem;
}

.case-heading {
    padding-top: 1.5rem;
}

.pp-heading em {
    color: rgb(236, 236, 236);
    font-weight: 500;
}

.ocelot a {
    text-decoration: none;
    color: var(--purple);
}

.ocelot a:hover,
.ocelot a:focus {
    text-decoration: underline;
}


/* ------------------ ABOUT ------------------- */

.about-container {
    margin-top: 2rem;
    padding: 0 1em;
    display: flex;
    justify-content: center;
}

.about-section {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
}

.about-left,
.about-right {
    flex: 1;
    max-width: 35rem;
}

.about-right {
    margin-bottom: 5rem;
}

.left-cards {
    position: sticky;
    top: 2rem;
    /* overflow-y: none; */
}

.about-cards {
    width: 100%;
    background-color: #131313;
    border-radius: 2rem;
    border: 1px solid #262626;
    text-decoration: none;
    transition: transform 150ms ease;
    display: block;
    margin-bottom: 2rem;
}

.about-card {
    padding: 1.5rem;
}

.copyright {
    padding: 2em 0 8em 0;
    color: #8F8F8F;
    font-size: .9rem;
    text-align: center;
}

.a-tags img {
    width: .8rem;
    height: .8rem;
    padding-bottom: .1rem;
}


.a-tags span {
    padding-left: .5rem;
}

#ac-tags img {
    width: .6rem;
}

#ac-tags {
    margin-left: .2rem;
}

#ac-tags a {
    align-items: center;
    display: inline-flex;
}

#ac-tags a:hover,
#ac-tags a:focus {
    background-color: var(--vacchio-orange);
    transition: all 150ms ease;
}

.e-tags span {
    padding-right: .5rem;
    color: rgb(232, 232, 232);
    font-weight: 600;
}

.email-carmen p {
    cursor: pointer;
}

.email-carmen img {
    margin-left: .2rem;
}

.email-carmen span {
    padding-right: .3rem;
    color: rgb(232, 232, 232);
    font-weight:600;
}

.email-carmen p:hover,
.email-carmen p:focus {
    background-color: var(--vacchio-orange);
    transition: all 150ms ease;
}

.e-tags img {
    width: .8rem;
}

.card-divider {
    width: 100%;
    height: 1px;
    margin: 2rem 0;
    border-radius: 100px;
    background-color:#262626;
    position: relative;
}

@media screen and (max-width: 870px) {
    .about-cards {
        width: calc(100% - 2rem);
    }

    .about-section {
        flex-direction: column;
        gap: .2rem;
    }

    .about-left,
    .about-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about-footer {
        padding-left: 3rem;
        padding-right: 3rem;
        
    }
}


/**************************************************** 
                    Desktop Styles
 *****************************************************/


 @media screen and (min-width: 641px) {

    /* ----------------- NAV ------------------- */

    #nav{
        display: none;
    }

    .shape {
        position: fixed;
        bottom: 0px;
        right: -600px;
        overflow: hidden;
        z-index: -1; 
    }
    
    .shape img {
        max-width: 1700px;
    }

     /* ----------------- HOME ------------------- */

    .home-section h1 {
        color: #FFF;
        font-size: 4rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .home-section h2 {
        padding-top: .3em;
        color: #D7D7D7;
        font-size: 3rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        max-width: 900px
    }

    .home-section h1 span:last-child {
        border-radius: 10px;
        padding: 0 1rem .2rem 1rem;
    }
} 

@media screen and (min-width: 641px) and (max-width: 1750px) {

    .home-section h1 {
        color: #FFF;
        font-size: 4rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .home-section h2 {
        color: #D7D7D7;
        font-size: 3rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .home-section h1 span:last-child {
        border-radius: 10px;
        padding: 0 1rem .2rem 1rem;
    }

    .shape img {
        max-width: 1300px;
    }

    .desktop {
        padding: 0 1em;
    }

}


 /**************************************************** 
                    Mobile Styles
 *****************************************************/

 @media screen and (max-width: 640px) {
    

    /* ----------------- NAV ------------------- */
    
    .desktop {
        display: none;
    }

    .carmen-vacchio{
        display: none;
    }

    .navbar-nav .nav-link.active {
        border: 0.9px solid rgba(255, 255, 255, 0.078);
        background: rgba(67, 67, 67, 0.045);
        backdrop-filter: blur(5.150000095367432px);
        border-radius: 10px;
    }

    .navbar-nav a {
        color: #FFF;
        font-family: "Helvetica Neue";
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 1rem .5rem;
    }

    .navbar-nav a img {
        width: 1rem;
        flex-shrink: 0;
        margin: 0 1rem 0 .4em;
    }

    .nav-link {
        align-items: center;
        display: flex;
    }

    .navbar-toggler .navbar-toggler-icon {
        background-image: url("../images/svg/close.svg");
        width: 35px;
        height: 16px;
        padding: .8em 0; 
    }
    
    .linkedin-mobile {
        margin-bottom: 1rem;
    }

    .m-home {
        margin-top: 1rem;
    }
    

    .collapsed > .navbar-toggler-icon {
        background-image: url("../images/svg/nav.svg");
    }

    
    .navbar-toggler {
        border: none;
    }
    
    .nav-title {
        color: #FFF;
        font-family: "Helvetica Neue";
        font-size: 21.024px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: .8em .5em;
    }
    
    .bg-body-tertiary,
    .navbar, 
    .navbar-expand-lg {
        background-color: #131313 !important;
        backdrop-filter: blur(5.150000095367432px);
        padding: .6em;
        margin-bottom: 1em;
    }

    /* ----------------- HOME ------------------- */

    .shape img {
        width: 100%; 
        overflow: hidden;
    }

    .shape {
        overflow-y: hidden;
        z-index: -1;
        position: fixed;
        bottom: 0px
    }  

    .home-hero {
        padding: 1em;
        position: absolute;
        top: 20%;
        margin-top: 0;
    }

    .home-section h1 {
        padding: .4em 0;
    }

    .home-section h2 {
        text-shadow: 0px .5px 10px #000000;
    }
   
    .project-page-container,
    .about-container,
    .project-container {
        margin-top: 9rem;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .projects-section {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .close-button {
        display: none;
    }

    /* ----------------- PROJECTS ------------------- */

    .collage {
        padding: 0 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
    }

    #kouyou-img {
        content: url("../images/projects/kouyou/kouyou.jpg");
    }

    .back-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 1rem 1rem 1rem;
    }

    .back-button img {
        width: .7rem;
        margin-right: .5rem;
        margin-bottom: .1rem;
    }

    .back-button a {
        text-decoration: none;
        color: rgb(211, 211, 211);
    }
    
    .project-page-container {
        margin-top: 6rem;
        padding-left: 0;
        padding-right: 0;
    }

    .project-container {
        padding-right: 0;
        padding-left: 0;
    }

 }

 @media screen and (min-height: 700px) and (max-width: 640px) {
    
    .home-hero {
        padding: 1em;
        position: absolute;
        top: 25%;
        margin-top: 0;
    }

 }

 @media screen and (min-height: 900px) and (max-width: 640px) {
    
    .home-hero {
        padding: 1em;
        position: absolute;
        top: 17%;
        margin-top: 0;
    }

    .home-hero h2 {
        font-size: 2.5em;
    }

    .home-hero h1 {
        font-size: 4em;
    }
 }

 @media screen and (max-height: 900px) {

    .home-hero h1 {
        font-size: 3rem;
    }

    .home-hero h2 {
        font-size: 2rem;
    }
 } 

 @media screen and (max-width: 500px) {
    .home-hero h1 {
        font-size: 3rem;
    }

    .home-hero h2 {
        font-size: 2rem;
    }
 } 
