/**************************************************** 
                    Global Styles
 *****************************************************/

 html {
    box-sizing: border-box;
 }

 body {
    line-height: 1.5em;
    display:block;
 }

::selection {
    background-color: var(--purple);
}

:root {
    --purple:#8e7bff;
    --vacchio-purple: #7C55DF;
    --vacchio-green: linear-gradient(0deg, #59D499 0%, #59D499 100%);
}




/* ------------------- HEADER -------------------- */



/* ------------------ SKIP LINKS ------------------ */



/* ------------------ SECTION ------------------- */

section h2 span:first-child {
    color: transparent;
    background: var(--vacchio-green);
    background-clip: text;
}

section h2 span:last-child {
    background: var(--vacchio-purple);
    border-radius: 3px;
    padding: .1em .3em;
}



